.layout {
    background-color: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    overflow: hidden;
    padding: 40px 30px;
}

@media (max-width: 768px) {
    .layout {
        padding: 20px 30px;
    }
}

@media (max-width: 425px) {
    .layout {
        padding: 20px 15px;
    }
}
