.button {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 8px 24px;
    border: 1px solid #3e4146;
    border-radius: var(--border-radius);
    background: linear-gradient(90deg, #141f2f 0%, #1b2838 100%);
    color: #ffffff;
}

.button:hover {
    background: linear-gradient(90deg, #101925 0%, #182331 100%);
    border-color: #486fa3;
}

:global(.light-theme) .button {
    background: linear-gradient(90deg, #406091 0%, #577eaad8 100%);
    border: 1px solid #708dbe;
}

.button__text {
    font-size: 16px;
    font-weight: 500;
}

.button__img {
    width: 24px;
}
