.list {
    margin-top: 20px;
    background-color: rgba(38, 38, 38, 0.356);
    padding: 30px 50px 50px;
}

.list__games {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.list__title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
}

.winlose__list {
    display: flex;
    column-gap: 10px;
    margin-bottom: 30px;

}

.winlose__item {
    background-color: #0c0c0c;
    padding: 10px 15px;
    opacity: 0.6;
}

.active {
    opacity: 1;
}

.win {
    color: var(--color-green);
}

.lose {
    color: var(--color-red);
}

@media (max-width: 1024px) {
    .list {
        margin-top: 20px;
        background-color: rgba(38, 38, 38, 0.356);
        padding: 30px 20px;
    }

    .list__games {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .list__title {
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .list {
        margin-top: 15px;
        padding: 20px 20px;
    }

    .list__games {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .list__title {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

@media (max-width: 425px) {
    .winlose__list {
        margin-bottom: 30px;
    }

    .winlose__item {
        padding: 8px 12px;
        font-size: 14px;
    }

    .list {
        margin-top: 15px;
        padding: 20px 10px;
    }

    .list__games {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .list__title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}