.search {
    margin-top: 40px;
    position: relative;
}

.search__flex {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.search__text {
    font-weight: 500;
    font-size: 22px;
}

.search__input {
    background-color: var(--color-grey);
    padding: 15px 20px;
    border-radius: 5px;
    width: 300px;
    font-size: 18px;
}

.team__button {
    width: 52px;
    height: 52px;
    background-color: var(--color-grey);
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
}

.team__button img {
    width: 100%;
}

.search__content {
    background-color: var(--color-grey);
    width: 400px;
    height: 400px;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 70px;
}

.search__content::-webkit-scrollbar {
    width: 8px;
}

.search__content::-webkit-scrollbar-track {
    background: rgb(82, 82, 82);
}

.search__content::-webkit-scrollbar-thumb {
    background: rgb(204, 204, 204);
    border-radius: 4px;
    height: 30px;
}

.search__content::-webkit-scrollbar-thumb:hover {
    background: rgb(172, 172, 172);
}

.team__input {
    background-color: var(--color-black);
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 15px;
}

.list__item {
    font-size: 18px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}

.list__item {
    width: 75px;
    height: 75px;
    background-color: var(--color-black);
    border-radius: 10px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team__img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .search {
        margin-top: 30px;
    }

    .search__flex {
        column-gap: 8px;
    }

    .search__text {
        font-size: 21px;
    }

    .search__input {
        padding: 12px 18px;
        width: 300px;
        font-size: 18px;
    }

    .team__button {
        width: 47px;
        height: 47px;
        font-size: 24px;
    }

    .search__content {
        width: 400px;
        height: 350px;
        padding: 15px;
        top: 60px;
    }

    .team__input {
        padding: 9px 14px;
        font-size: 16px;
        margin-bottom: 12px;
    }

    .team__list {
        column-gap: 8px;
        row-gap: 8px;
    }

    .list__item {
        width: 65px;
        height: 65px;
        padding: 2px;
    }
}

@media (max-width: 768px) {
    .search {
        margin-top: 25px;
    }

    .search__flex {
        column-gap: 6px;
    }

    .search__text {
        font-size: 20px;
    }

    .search__input {
        padding: 12px 15px;
        width: 250px;
        font-size: 18px;
    }

    .team__button {
        width: 47px;
        height: 47px;
        font-size: 24px;
    }

    .search__content {
        width: 370px;
        height: 350px;
        padding: 15px;
        top: 60px;
    }

    .team__input {
        padding: 9px 14px;
        font-size: 16px;
        margin-bottom: 12px;
    }

    .team__list {
        column-gap: 8px;
        row-gap: 8px;
    }

    .list__item {
        width: 75px;
        height: 75px;
        padding: 2px;
    }
}

@media (max-width: 425px) {
    .search {
        margin-top: 20px;
    }

    .search__flex {
        column-gap: 6px;
    }

    .search__text {
        font-size: 20px;
    }

    .search__input {
        padding: 12px 15px;
        width: 200px;
        font-size: 16px;
    }

    .team__button {
        width: 42px;
        height: 42px;
        font-size: 20px;
    }

    .search__content {
        width: 310px;
        height: 300px;
        padding: 15px;
        top: 55px;
    }

    .team__input {
        padding: 9px 14px;
        font-size: 16px;
        margin-bottom: 12px;
    }

    .team__list {
        column-gap: 5px;
        row-gap: 5px;
    }

    .list__item {
        width: 64px;
        height: 64px;
        padding: 2px;
    }
}